.label-content {
    display: flex;
    font-family: 'Roboto';
    cursor: pointer;
}

.material-icons {
    margin-right: 10px;
}

.blog-content {
    padding-top: 20px;
}

.blog-content-pre {
    max-width: 900px;
    min-height: 30px;
    max-height: 200px;
}

.new-comment {
    width: 900px;
    height: 100px;
}

.comments {
    width: 880px;
    max-height: 200px; 
}
